.twos{
    display:flex;
    background-color: rgb(252, 19, 111);
    padding:2rem;
    margin:4rem;
    color: white;
    justify-content: center;
}

.left{
    flex-basis:30%;
    padding: 0 14rem 0 0;
}

.right{
    flex-basis:70%;
    padding: 0 14rem 0 0;
}

button{
    background-color: rgb(252, 19, 111);
    padding:0.6rem;
    color: white;
    border-color: white;
    font-size:0.7rem;
    border-width:0.1em;
    margin-top: 1rem;;
}
